<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h5>アマゾン詳細</h5>
      <table class="table table-striped table-hover table-bordered table-headerfixed ellipsis tablesorter" id="products_table">
        <thead class="thead-inverse">
          <tr>
            <% Constants::CONV_P.each do |key, value| %>
            <% if key.to_s == "self_sale" || key.to_s == "delta_link" %>
            <th width="8%"><%= value %></th>
            <% elsif key.to_s == "new_price" || key.to_s == "used_price" %>
            <th width="5%"><%= value %></th>
            <% elsif key.to_s == "asin" %>
            <th width="8%"><%= value %></th>
            <% elsif key.to_s == "jan" %>
            <th width="8%"><%= value %></th>
            <% elsif key.to_s == "title" %>
            <th width="13%"><%= value %></th>
            <% else %>
            <th width="9%"><%= value %></th>
            <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody style="height: 80px;">
          <% counter = 1 %>
          <% @amazon.each do |temp| %>
          <tr>
            <% Constants::CONV_P.each do |key, value| %>
            <% if key.to_s == "self_sale" || key.to_s == "delta_link" %>
            <td width="8%"><%= temp[key] %></td>
            <% elsif key.to_s == "new_price" || key.to_s == "used_price" %>
            <td width="5%"><%= temp[key].to_i %></td>
            <% elsif key.to_s == "asin" %>
            <td width="8%"><%= temp[key] %></td>
            <% elsif key.to_s == "title" %>
            <td width="13%" style="word-wrap: break-word; white-space: normal;"><%= temp[key] %></td>
            <% elsif key.to_s == "jan" %>
            <td width="8%"><%= temp[key] %></td>
            <% elsif key.to_s == "search_result" %>
            <td width="9%"><%= @details.where(asin: temp.asin).count.to_i.to_s %>件</td>
            <% else %>
            <td width="9%" style="word-wrap: break-word; white-space: normal;"><%= temp[key] %></td>
            <% end %>
            <% end %>
          </tr>
          <% counter += 1 %>
          <% end %>
        </tbody>
      </table>
      <br>
      <h5>キタムラ情報詳細 <small>全<%= @products.count %>件</small></h5>
      <%= paginate @products %>
      <table class="table table-striped table-hover table-bordered table-headerfixed ellipsis tablesorter" id="products_table">
        <thead class="thead-inverse">
          <tr>
            <th width="3%"><input type="checkbox" name="check[all]" id="check_all" /></th>
            <th width="3%">No.</th>
            <% Constants::CONV_C.each do |key, value| %>
            <% if key.to_s == "title" %>
            <th width="15%"><%= value %></th>
            <% elsif key.to_s == "diff_new_price" || key.to_s == "diff_used_price" %>
            <th width="7%"><%= value %></th>
            <% elsif key.to_s == "price" || key.to_s == "condition" %>
            <th width="7%"><%= value %></th>
            <% elsif key.to_s == "memo" || key.to_s == "attachment" %>
            <th width="12%"><%= value %></th>
            <% else %>
            <th width="9%"><%= value %></th>
            <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% counter = 1 %>
          <% @products.each do |temp| %>
          <tr>
            <td width="3%"><input type="checkbox" name="check[<%= temp.id %>]" id="check_<%= temp.id %>" class="chk" /></td>
            <td width="3%"><%= counter %></td>
            <% Constants::CONV_C.each do |key, value| %>
            <% if key.to_s == "title" %>
            <td width="15%" style="word-wrap: break-word; white-space: normal; text-align: left;"><a href="<%= temp["url"] %>" target="_blank"><%= temp[key] %></a></td>
            <% elsif key.to_s == "diff_new_price" || key.to_s == "diff_used_price" %>
            <td width="7%"><%= temp[key].to_i %></td>
            <% elsif key.to_s == "condition" %>
            <td width="7%"><%= temp[key] %></td>
            <% elsif key.to_s == "price" %>
            <td width="7%"><%= temp[key].to_i %></td>
            <% elsif key.to_s == "memo" || key.to_s == "attachment" %>
            <td width="12%" style="word-wrap: break-word; white-space: normal;"><%= temp[key] %></td>
            <% else %>
            <td width="9%" style="word-wrap: break-word; white-space: normal;"><%= temp[key] %></td>
            <% end %>
            <% end %>
          </tr>
          <% counter += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#check_all').on('click', function() {
      $('.chk').prop('checked', this.checked);
    });
  });
</script>
