<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h5>DB表示設定 &nbsp;<small>全 <%= @all_num %>件中　フィルタ適用後 <%= @fcounter %>件 <%= if @account.filtered == true then "(フィルタ有効)" else "(フィルタ無効)" end %></small></h5>
      <div class="col-lg-12">
        <%= form_tag('/products/show', method:'post', id:'update_form') do %>
        <label>条件の絞込み</label>
        <%= submit_tag '抽出', class:'btn btn-success', style:'vertical-align:middle; margin-left:20px; width:120px;' %>
        <%= link_to "クリア", products_clear_path, class:'btn btn-warning', style:'vertical-align:middle; margin-left:20px; width:120px;' %><br>
      </div>
      <div class="col-lg-1">
        <label for="filter_table">抽出条件</label>
      </div>
      <div class="col-lg-11">
        <table class="table table-striped table-hover table-bordered" style="margin-top:5px;" id="filter_table" >
          <thead>
            <tr>
              <th width="25%">商品状態</th>
              <th width="25%">付属品</th>
              <th width="17%">新品価格差</th>
              <th width="17%">中古価格差</th>
              <th width="16%">ラベル</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <label for="condition_A">
                  <%= check_box_tag 'condition[A]', "A以上", @flg_A, id:'condition_A', class:'cond_chk' %>
                  A以上
                </label>
                <label for="condition_AB" style="margin-left:10px;">
                  <%= check_box_tag 'condition[AB]', "AB以上", @flg_AB, id:'condition_AB', class:'cond_chk' %>
                  AB以上
                </label>
                <label for="condition_B" style="margin-left:10px;">
                  <%= check_box_tag 'condition[B]', "B以上", @flg_B, id:'condition_B', class:'cond_chk' %>
                  B以上
                </label>
                <label for="condition_ALL" style="margin-left:10px;">
                  <%= check_box_tag 'condition[ALL]', "全て", @flg_ALL, id:'condition_ALL', class:'cond_chk' %>
                  全て
                </label>
              </td>
              <td>
                <label for="attachment_on">
                  <%= check_box_tag 'attachment', true, @flg_at, id:'attachment_on' %>
                  「箱」、「説明書」いずれかを含む
                </label>
              </td>
              <td>
                <div class="form-inline">
                  <label for="diff_new_price">
                    <%= text_field_tag 'diff_new_price', @flg_new, class:'form-control', style:'width:50%;' %>
                    円以上
                  </label>
                </div>
              </td>
              <td>
                <div class="form-inline">
                  <label for="diff_used_price">
                    <%= text_field_tag 'diff_used_price', @flg_used, class:'form-control', style:'width:50%;' %>
                    円以上
                  </label>
                </div>
              </td>
              <td>
                <div class="form-inline">
                  <%= select_tag 'select_label', options_for_select(@labels, :selected => @account.label), class: 'form-control', style:'font-size:12px; color:black;width:80%;' %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
      <h5>DB管理</h5>
      <div class="col-lg-12">
        <%= form_tag('/products/import', method:'post', multipart: true, id:'amazon_import') do %>
          <div class="form-inline">
            <label style="vertical-align:middle;">
            <span class="btn btn-info" style="width:160px;">
              一括登録・更新
              <input type="file" name="amazon_data" onChange="$('#amazon_import').submit();" style="display:none;">
            </span>
            </label>
            &nbsp;&nbsp;一括登録の書式は設定画面よりDL
          </div>
        <% end %>
      </div>
      <%= form_tag('/products/show', method:'post', id:'update_form2') do %>
      <div class="col-lg-12">
        <%= submit_tag 'キタムラ情報取得', class:'btn btn-success', id:'search', style:'vertical-align:middle; margin-left:0px; width:160px;' %>&nbsp;※1,※2
        <%= submit_tag 'CSV出力', class:'btn btn-warning', id:'csv_output', style:'vertical-align:middle; margin-left:20px; width:160px;' %>&nbsp;※2
        <%= submit_tag 'DB編集内容の更新', class:'btn btn-success', style:'vertical-align:middle; margin-left:20px; width:160px;' %>&nbsp;※2
        <%= submit_tag 'データの削除', class:'btn btn-danger', style:'vertical-align:middle; margin-left:20px; width:160px;' %>&nbsp;※2
        <br>※1 チェックなしの場合全取得 &nbsp;&nbsp;&nbsp;※2 DBにチェックを入れたもののみ対象<br><br>
      </div>
      <br>
      <label>キタムラ情報の取得状況　全<%= @total %>件中　<%= if @total != 0 then @account.progress.to_i else 0 end %>件済み</label>
      <progress class="progress progress-striped" max="100" value="<%= if @total != 0 then (@account.progress.to_i * 100 / @total).round(0) else 0 end %>" style="width:50%;"></progress>
      <%= paginate @products %>
      <br><label style='vertical-align:middle;'>全選択</label>
      <input type="checkbox" name="check[all]" id="check_all"/>
      <table class="table table-striped table-hover table-bordered table-headerfixed ellipsis tablesorter" id="products_table">
        <thead class="thead-inverse">
          <tr>
            <th width="3%"></th>
            <th width="3%">No.</th>
            <th width="3%">詳細</th>
            <% Constants::CONV_P.each do |key, value| %>
            <% if key.to_s == "self_sale" || key.to_s == "delta_link" then %>
            <th width="8%"><%= value %></th>
            <% elsif key.to_s == "new_price" || key.to_s == "used_price" then %>
            <th width="6%"><%= value %></th>
            <% elsif key.to_s == "asin" then %>
            <th width="8%"><%= value %></th>
            <% elsif key.to_s == "jan" then %>
            <th width="9%"><%= value %></th>
            <% elsif key.to_s == "title" then %>
            <th width="13%"><%= value %></th>
            <% elsif key.to_s == "search_result" then %>
            <th width="5%"><%= value %></th>
            <% else %>
            <th width="7%"><%= value %></th>
            <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% counter = 1 %>
          <% @products.each do |temp| %>
            <% if @account.filtered == true then  %>
              <% if @candidates.where(asin: temp["asin"]).count > 0 then %>
              <tr>
                <td width="3%"><input type="checkbox" name="check[<%= temp.id %>]" id="check_<%= temp.id %>" class="chk" /></td>
                <td width="3%"><%= counter %></td>
                <td width="3%"><a href="/candidates/show/<%= temp.asin %>">※</a></td>
                <% Constants::CONV_P.each do |key, value| %>
                <% if key.to_s == "self_sale" then %>
                <td width="8%"><% if temp[key] == true then %>〇<% else %>×<% end %></td>
                <% elsif key.to_s == "new_price" then %>
                <td width="6%"><%= text_field_tag 'new_price[' + temp.id.to_s + ']', temp[key].to_i, class:'form-control', style:'color:black;font-size:12px;' %></td>
                <% elsif key.to_s == "used_price" then %>
                <td width="6%"><%= text_field_tag 'used_price[' + temp.id.to_s + ']', temp[key].to_i, class:'form-control', style:'color:black;font-size:12px;' %></td>
                <% elsif key.to_s == "asin" then %>
                <td width="8%"><a href="https://www.amazon.co.jp/dp/<%= temp[key] %>" target="_blank"><%= temp[key] %></a></td>
                <% elsif key.to_s == "title" then %>
                <td width="13%" style="word-wrap: break-word; white-space: normal;"><%= temp[key] %></td>
                <% elsif key.to_s == "jan" then %>
                <td width="9%"><%= text_field_tag 'jan[' + temp.id.to_s + ']', temp[key].to_s, class:'form-control', style:'color:black;font-size:12px;' %></td>
                <% elsif key.to_s == "search_result" then %>
                <td width="5%"><% if temp[key] != nil && temp[key] != "" then %><a href="http://shop.kitamura.jp/used/list.html?f[]=k3&n7c=1&limit=100&q=<%= temp["jan"] %>" target="_blank"><%= @candidates.where(asin: temp["asin"]).count %></a><% else %>0<% end %></td>
                <% elsif key.to_s == "delta_link" then %>
                <td width="8%"><a href="<%= temp[key] %>" target="_blank"><%= temp[key] %></a></td>
                <% elsif key.to_s == "memo" then %>
                <td width="7%"><%= text_field_tag 'memo[' + temp.id.to_s + ']', temp.memo.to_s, class:'form-control', style:'color:black;font-size:12px;'  %></td>
                <% elsif key.to_s == "label" then %>
                <td width="7%"><%= select_tag 'label[' + temp.id.to_s + ']', options_for_select(@labels, :selected => temp.label), class: 'form-control', style:'font-size:10px; color:black;' %></td>
                <% elsif key.to_s == "updated_at" then %>
                <td width="7%" style="word-wrap: break-word; white-space: normal;"><% if temp.updated_at != nil then %><%= temp.updated_at.strftime("%Y/%m/%d %H:%M") %><% end %></td>
                <% else %>
                <td width="7%" style="word-wrap: break-word; white-space: normal;"><%= temp[key] %></td>
                <% end %>
                <% end %>
              </tr>
              <% counter += 1 %>
              <% end %>
            <% else %>
            <tr>
              <td width="3%"><input type="checkbox" name="check[<%= temp.id %>]" id="check_<%= temp.id %>" class="chk" /></td>
              <td width="3%"><%= counter %></td>
              <td width="3%"><a href="/candidates/show/<%= temp.asin %>">※</a></td>
              <% Constants::CONV_P.each do |key, value| %>
              <% if key.to_s == "self_sale" then %>
              <td width="8%"><% if temp[key] == true then %>〇<% else %>×<% end %></td>
              <% elsif key.to_s == "new_price" then %>
              <td width="6%"><%= text_field_tag 'new_price[' + temp.id.to_s + ']', temp[key].to_i, class:'form-control', style:'color:black;font-size:12px;' %></td>
              <% elsif key.to_s == "used_price" then %>
              <td width="6%"><%= text_field_tag 'used_price[' + temp.id.to_s + ']', temp[key].to_i, class:'form-control', style:'color:black;font-size:12px;' %></td>
              <% elsif key.to_s == "asin" then %>
              <td width="8%"><a href="https://www.amazon.co.jp/dp/<%= temp[key] %>" target="_blank"><%= temp[key] %></a></td>
              <% elsif key.to_s == "title" then %>
              <td width="13%" style="word-wrap: break-word; white-space: normal;"><%= temp[key] %></td>
              <% elsif key.to_s == "jan" then %>
              <td width="9%"><%= text_field_tag 'jan[' + temp.id.to_s + ']', temp[key].to_s, class:'form-control', style:'color:black;font-size:12px;' %></td>
              <% elsif key.to_s == "search_result" then %>
              <td width="5%"><% if temp[key] != nil && temp[key] != "" then %><a href="http://shop.kitamura.jp/used/list.html?f[]=k3&n7c=1&limit=100&q=<%= temp["jan"] %>" target="_blank"><%= @candidates.where(asin: temp["asin"]).count %></a><% else %>0<% end %></td>
              <% elsif key.to_s == "delta_link" then %>
              <td width="8%"><a href="<%= temp[key] %>" target="_blank"><%= temp[key] %></a></td>
              <% elsif key.to_s == "memo" then %>
              <td width="7%"><%= text_field_tag 'memo[' + temp.id.to_s + ']', temp.memo.to_s, class:'form-control', style:'color:black;font-size:12px;'  %></td>
              <% elsif key.to_s == "label" then %>
              <td width="7%"><%= select_tag 'label[' + temp.id.to_s + ']', options_for_select(@labels, :selected => temp.label), class: 'form-control', style:'font-size:10px; color:black;' %></td>
              <% elsif key.to_s == "updated_at" then %>
              <td width="7%" style="word-wrap: break-word; white-space: normal;"><% if temp.updated_at != nil then %><%= temp.updated_at.strftime("%Y/%m/%d %H:%M") %><% end %></td>
              <% else %>
              <td width="7%" style="word-wrap: break-word; white-space: normal;"><%= temp[key] %></td>
              <% end %>
              <% end %>
            </tr>
            <% counter += 1 %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>

<script>

  $(document).ready(function(){

    $(function() {
      $('#products_table').tablesorter();
    });

    $('#check_all').on('click', function() {
      $('.chk').prop('checked', this.checked);
    });

    $('.cond_chk').on('click', function() {
      if ($(this).prop('checked')){
          $('.cond_chk').prop('checked', false);
          $(this).prop('checked', true);
      }
    });

    $('#csv_output').on('click', function() {
      setTimeout(function(){
          location.reload();
      },3000);
    });

  });
</script>
